:root {
  --text-color-red: #c60021;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.center {
  margin: auto;
  text-align: center;
}

#heading {
  width: 50%;
}

body {
  background-color: #e3e3e3;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  overflow: hidden;
  position: fixed;
  background-color: #f6f6f8;
  width: 100%;
}

main {
  padding-top: 100px;
  text-align: justify;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: left;
}

nav {
  width: 100%;
  height: 60px;
  margin-left: 20px;
  padding: 20px 0 20px 0;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
  font-size: 18px;
}

nav > ul > li > a, nav > ul > li:visited {
  color: #000000;
  text-decoration: none;
  padding-bottom: 5px;
}

p {
  line-height: 1.5em;
  padding: 10px;
}

form {
  width: 50%;
}

.grid-item2 {
  margin-left: 150px;
}

.grid-item3 {
  margin-right: 150px;
}

.nav-item > a {
  transition: border-bottom .2s ease;
}

.nav-item > a:hover {
  border-bottom: 6px solid var(--text-color-red);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.laptop {
  width: 64px;
  height: 64px;
  background-image: url('../media/laptop.png');
}

.red-pop {
  color: var(--text-color-red);
  font-weight: bold;
  font-style: italic;
}

img#chrome {
  width: 150px;
  height: 150px;
}

button, input[type="reset"] {
  width: 70px;
  height: 20px;
}

table {
  border: 1px solid black;
  border-radius: 2px;
}

thead, td, tr, th {
  text-align: center;
  width: 220px;
  border: 1px solid black;
  border-radius: 3px;
}

.prep {
  background-color: aqua;
}

.work {
  background-color: red;
}

.education {
  background-color: seagreen;
}

.break {
  background-color: silver;
}
h3 {
  margin-top: 10px;
}

ul.schedule, ol.schedule, dl.schedule{
  margin-left: 30px;
  padding: 5px;
}

iframe {
  width: 50%;
  height: 400px;
}

video {
  width: 50%;
  height: 50%;
}

.movie-post {
  height: 300px;
}

.gfont {
  font-family: 'Oxygen', sans-serif;
  font-size: 3em;
}

canvas#myChart {
  width: 500px;
  height: 500px;
}

.input-field {
  text-align: right;
  width: 75%;
  margin: auto;
}

.input-field  input {
  width: 300px;
  height: 30px;
}

img.wid2 {
  width: 200px;
}